/*Defaults*/

html{
	box-sizing: border-box;
	font-family: Merriweather, serif;
	line-height: 1.5em;
}


*, *::before, *::after{

	box-sizing: inherit;
}

/*Header*/
h1{ background-color: #cd5b34;}

h2{
	background-color: rgba(205,91,52,0.8);
	line-height: 3em;
	margin: 0;
}

h1, h2{
 color: #fff;
 text-align: center;
}

img{
	width: 100%;
}

/*Nav*/


nav ul{
	display: inline;
	list-style-type:none;

}

nav ul li{

width:30%;
float: left;
}


/*Main*/

#wrapper{

	margin: 0;
	padding: 0;
}

main{

	overflow: hidden;
}

#famous-cereals{

	overflow: hidden;
	padding: 0;
}



/*IMG*/

.grain-image {
	width: 30%;
	float: left;
	margin-right: 1em;
}

.quinoa-image, .cereals-image{
	width: 30%;
float: right;
border: 1px solid #ccc;
}

.q2{
	clear:both;
	margin-top: 1em;
}

.corn-image{
	width: 100%;
	margin: 0;
}

figure{
	margin: 0;
}

figcaption{
	text-align: center;
	margin: 0;
}

.rice figcaption, .oats figcaption{
	background-color:orange;
	box-sizing: border-box;
	margin; 0;
	text-align:  center;
}

.rice, .oats{
	float:left;
	width: 50%;
	margin: 0;

}

/*Foot*/

footer{
	background-color: yellow;
}
